/* lien he */
.slideshow-content {
  height: 380px;
}
.lh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.lh h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.lh div a {
  color: white;
}
.lh div {
  font-size: 13px;
  text-align: center;
}
.lh div p {
  display: inline;
}
#data-lien-he {
  padding-top: 50px;
}
#data-lien-he .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
#data-lien-he .col > div {
  display: flex;
}
#data-lien-he .col h3 {
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
#data-lien-he .col p {
  margin-top: 10px;
}
#data-lien-he .col .font-w {
  font-weight: 700;
}
#data-lien-he i {
  font-size: 30px;
  color: #800000;
  margin-right: 10px;
}
@media only screen and (max-width: 960px) {
  #data-lien-he .grid-container {
    grid-template-columns: 1fr;
  }
}
