.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto;
  background-color: #fdfdfd;
  padding: 10px;
}
.grid-item {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.row {
  justify-content: space-between;
  align-items: center;
}

.sub-heading {
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.ph {
  text-align: center;
  align-items: center;
  padding: 25px 60px 20px;
  color: var(--color-aa);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 25px;
  margin: 0px 14.2px;
  font-size: 14px;
}
.icons {
  color: #c4ac70;
  padding-top: 20px;
}

.title-vip {
  display: block;
  align-items: center;
  margin-left: 40px;
  padding: 50px;
  padding-right: 150px;
  padding-left: 150px;
  box-sizing: border-box;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  word-spacing: normal;
  color: #303030;
  font: normal 14px / 25px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}
.img-vip {
  display: block;
  height: 420px;
  width: 519px;
  left: 791;
  right: 1310px;
  top: 451px;
}
.h2-1 {
  text-align: center;
  align-items: center;
  padding: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 50px;
  margin: 0px 14.2px;
  font-size: 45px;
}
.input {
  width: 100%;
}

.grid-container-1 {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  background-color: #fdfdfd;
  padding: 10px;
}
.grid-item-1 {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/* phong vip */
.slideshow-content {
  height: 380px;
}
.lh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.lh h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}
.lh div a {
  color: white;
}
.lh div {
  font-size: 13px;
  text-align: center;
}
.lh div p {
  display: inline;
}
#content-phongvip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
#content-phongvip h2 {
  margin-bottom: 30px;
}
@media only screen and (max-width: 960px) {
  #content-phongvip {
    grid-template-columns: 1fr;
  }
}
